################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Abstractions/bin
/Abstractions/obj
/DataAccess.Mongo/bin
/DataAccess.Mongo/obj
/DataAccess.Mongo.Tests/bin
/DataAccess.Mongo.Tests/obj
/WebApi/bin
/WebApi/obj
