/.vs
/Abstractions/bin
/Abstractions/obj
/DataAccess.Mongo/bin
/DataAccess.Mongo/obj
/DataAccess.Mongo.Tests/bin
/DataAccess.Mongo.Tests/obj
/WebApi/bin
/WebApi/obj
/DataAccess.Redis/bin
/DataAccess.Redis/obj
/DataAccess.Redis.Tests/bin
/DataAccess.Redis.Tests/obj
/Frontend/.cache
/Frontend/.vscode
/Frontend/dist
/Frontend/node_modules
/Abstractions/out
/DataAccess.Mongo/out
/DataAccess.Mongo.Tests/out
/DataAccess.Redis/out
/DataAccess.Redis.Tests/out
/WebApi/out
